  .newmain {
    @include main
  }

  .createmain {
    @include main
  }

  .deviseuser {
    @include main
  }

  ul.header__right {
    
  }
  ul.header__right li {
    display: inline-block;
    padding: 5px;
  }

  a {
  }
  
  #tennshiilogo {
    text-decoration: none;
    color: black;
  }