.postshow {
  @include main;
  height: calc(100vh - 50px);

  &__top {
    text-align: center;
    
    &-block {
      background-color: greenyellow;
      height: 300px;

      &-contenttitle {
        font-size: xx-large;
      }
    }
  }
}