.postshow {
  @include main;
  height: calc(100vh - 50px);

  &__top {
    text-align: center;
    
    &-block {
      margin: auto;
      height: 100%;
      width: 600px;

      &-contenttitle {
        font-size: xx-large;
      }

      &-contentmain {
        
      }
    }
  }
}

.show {
  font-size: 20px;
}