.side
  %ul.side__menu
    = link_to new_post_path do
      %li.side__menu--new
        新規投稿
    %li.side__menu--serch
      探す
    %li.side__menu--city
      地域別に探す
    %li.side__menu--wotch
      過去閲覧