.side
  %ul.side__menu
    = link_to new_post_path do
      %li.side__menu--new
        新規投稿
    %li.side__menu--city
      = link_to prefecture_index_path, class:'tokyo' do
        地域別に探す
    %li.side__menu--wotch
    = link_to showcomments_posts_path do
      過去閲覧